__pycache__/
*.py[cod]
*.so
.DS_Store
.codex

outputs/
swanlog/
wandb/

pre_extracted_class_feat/
Visual_feature/
Result*/
result/
result_Imagenet_c/

*.pt
*.pth
*.ckpt
*.log
*.csv

data_root/
datasets/
